/* ----- CSS Variables ----- */
:root {
    --light: #F0EBE3; 
    --primary: #576F72;
    --secondary: #7D9D9C;
    --accent: #E4DCCF;
    --bg-light: var(--light);
    --bg-dark: var(--primary);
    --font-display: 'Play', monospace;
    --font-body: 'Noto Sans', monospace;
    --base-font-size: 16px;
    --base-padding: 5px;
    --base-margin: 5px;
}

/* ---- Site Styling ----- */
body {
    font-size: var(--base-font-size);
    font-style: normal;
    line-height: 1;
    background-color: var(--bg-light);
}

#calc-body {
    width: 500px;
    height: 500px;
    background-color: var(--primary);
    border: 5px dashed var(--black);
    box-shadow: -2px 20px 25px lightslategrey;
}

#calc-display {
    background-color: var(--accent);
    border: 1px solid var(--accent);
}

#calc-btnpad {
    
}

#links-container {
    width: 20%;
    justify-content: flex-end;
}

/* ----- Theme Kit ----- */

/* Color */
.primary {
    color: var(--primary);
}

.secondary {
    color: var(--secondary);
}

.accent {
    color: var(--secondary);
}

.light {
    color: var(--light);
}

.accent {
    color: var(--accent);
}

/* Buttons */
.btn {
    width: 35px;
    height: 25px;
    background-color: var(--secondary);
    color: var(--light);
    border: 1px solid var(--secondary);
    border-radius: 3.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* ----- Container Utilties ----- */
.container-fluid {
    width: 100%;
}

.container {
    width: 80%;
}

/* ----- Flex Utilities ----- */
.flex {
    display: flex;
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.flex-center {
    justify-content: center;
    align-content: center;
}

.flex-space-btwn {
    justify-content: space-between;
}

.flex-stretch {
    justify-content: stretch;
}
/* ----- Typography Utilities ----- */
.text-center {
    text-align: center;
}

/* ----- Border Utiltiies ---- */
.b1 {
    border: 1px solid black;
}

.b2 {
    border: 1px solid purple;
}

.b3 {
    border: 1px solid orange;
}

.round {
    border-radius: 25px;
}

/* ----- Spacing Utiltiies ----- */

/* Margin All Sides*/
.m-1 {
    margin: calc(var(--base-margin) * 1);
}

.m-2 {
    margin: calc(var(--base-margin) * 1.25);
}

.m-3 {
    margin: calc(var(--base-margin) * 1.5)
}

.m-4 {
    margin: calc(var(--base-margin) * 1.75);
}

.m-5 {
    margin: calc(var(--base-margin) * 2);
}

/* mx = margin left & right */
.mx-1 {
    margin-left: calc(var(--base-margin) * 1);
    margin-right: calc(var(--base-margin) * 1);
}

.mx-2 {
    margin-left: calc(var(--base-margin) * 1.25);
    margin-right: calc(var(--base-margin) * 1.25);
}

.mx-3 {
    margin-left: calc(var(--base-margin) * 1.5);
    margin-right: calc(var(--base-margin) * 1.5);
}

.mx-4 {
    margin-left: calc(var(--base-margin) * 1.75);
    margin-right: calc(var(--base-margin) * 1.75);
}

.mx-5 {
    margin-left: calc(var(--base-margin) * 2.0);
    margin-right: calc(var(--base-margin) * 2.0);
}

/* my = margin top & bottom */
.my-1 {
    margin-top: calc(var(--base-margin) * 1);
    margin-bottom: calc(var(--base-margin) * 1);
}

.my-2 {
    margin-top: calc(var(--base-margin) * 1.25);
    margin-bottom: calc(var(--base-margin) * 1.25);
}

.my-3 {
    margin-top: calc(var(--base-margin) * 1.5);
    margin-bottom: calc(var(--base-margin) * 1.5);
}

.my-4 {
    margin-top: calc(var(--base-margin) * 1.75);
    margin-bottom: calc(var(--base-margin) * 1.75);
}

.my-5 {
    margin-top: calc(var(--base-margin) * 2.0);
    margin-bottom: calc(var(--base-margin) * 2.0);
}

/* mt = margin top */
.mt-1 {
   margin-top: calc(var(--base-margin) * 1);
}

.mt-2 {
   margin-top: calc(var(--base-margin) * 1.25);
}

.mt-3 {
   margin-top: calc(var(--base-margin) * 1.50);
}

.mt-4 {
   margin-top: calc(var(--base-margin) * 1.75);
}

.mt-5 {
   margin-top: calc(var(--base-margin) * 2);
}

/* mb = margin bottom */
.mb-1 {
   margin-bottom: calc(var(--base-margin) * 1);
}

.mb-2 {
   margin-bottom: calc(var(--base-margin) * 1.25);
}

.mb-3 {
   margin-bottom:calc(var(--base-margin) * 1.5);
}

.mb-4 {
   margin-bottom: calc(var(--base-margin) * 1.75);
}

.mb-5 {
   margin-bottom: calc(var(--base-margin) * 2);
}

/* ml = margin left */
.ml-1 {
   margin-left: calc(var(--base-margin) * 1);
}

.ml-2 {
   margin-left: calc(var(--base-margin) * 1.25);
}

.ml-3 {
   margin-left: calc(var(--base-margin) * 1.5);
}

.ml-4 {
   margin-left: calc(var(--base-margin) * 1.75);
}

.ml-5 {
   margin-left: calc(var(--base-margin) * 2);
}

/* mr = margin right */
.mr-1 {
    margin-right: calc(var(--base-margin) * 1);
}
 
.mr-2 {
    margin-right: calc(var(--base-margin) * 1.25);
}
 
.mr-3 {
    margin-right: calc(var(--base-margin) * 1.5);
}
 
.mr-4 {
    margin-right: calc(var(--base-margin) * 1.75);
}
 
.mr-5 {
    margin-right: calc(var(--base-margin) * 2);
}

/* Padding All Sides */
.p-1 {
    padding: calc(var(--base-padding) * 1);
}

.p-2 {
    padding: calc(var(--base-padding) * 1.25);
}

.p-3 {
    padding: calc(var(--base-padding) * 1.5);
}

.p-4 {
    padding: calc(var(--base-padding) * 1.75);
}

.p-5 {
    padding: calc(var(--base-padding) * 2);
}

/* px = padding left & right */
.px-1 {
    padding-left: calc(var(--base-padding) * 1);
    padding-right: calc(var(--base-padding) * 1);
}

.px-2 {
    padding-left: calc(var(--base-padding) * 1.25);
    padding-right: calc(var(--base-padding) * 1.25);
}

.px-3 {
    padding-left: calc(var(--base-padding) * 1.5);
    padding-right: calc(var(--base-padding) * 1.5);
}

.px-4 {
    padding-left: calc(var(--base-padding) * 1.75);
    padding-right: calc(var(--base-padding) * 1.75);
}

.px-5 {
    padding-left: calc(var(--base-padding) * 2);
    padding-right: calc(var(--base-padding) * 2);
}

/* py = padding top & bottom */
.py-1 {
   padding-top: calc(var(--base-padding) * 1);
   padding-bottom: calc(var(--base-padding) * 1);
}

.py-2 {
   padding-top: calc(var(--base-padding) * 1.25);
   padding-bottom: calc(var(--base-padding) * 1.25);
}

.py-3 {
   padding-top: calc(var(--base-padding) * 1.5);
   padding-bottom: calc(var(--base-padding) * 1.5);
}

.py-4 {
   padding-top: calc(var(--base-padding) * 1.75);
   padding-bottom: calc(var(--base-padding) * 1.75);
}

.py-5 {
   padding-top: calc(var(--base-padding) * 2);
   padding-bottom: calc(var(--base-padding) * 2);
}

/* pt = padding top */
.pt-1 {
   padding-top: calc(var(--base-padding) * 1);
}

.pt-2 {
   padding-top: calc(var(--base-padding) * 1.25);
}

.pt-3 {
   padding-top: calc(var(--base-padding) * 1.5);
}

.pt-4 {
   padding-top: calc(var(--base-padding) * 1.75);
}

.pt-5 {
   padding-top: calc(var(--base-padding) * 2);
}

/* pb = padding bottom */
.pb-1 {
  padding-bottom: calc(var(--base-padding) * 1);
}

.pb-2 {
  padding-bottom: calc(var(--base-padding) * 1.25);
}

.pb-3 {
  padding-bottom: calc(var(--base-padding) * 1.5);
}

.pb-4 {
  padding-bottom: calc(var(--base-padding) * 1.75);
}

.pb-5 {
  padding-bottom: calc(var(--base-padding) * 2);
}

/* pl = padding left */
.pl-1 {
   padding-left: calc(var(--base-padding) * 1);
}

.pl-2 {
   padding-left: calc(var(--base-padding) * 1.25);
}

.pl-3 {
   padding-left: calc(var(--base-padding) * 1.5);
}

.pl-4 {
   padding-left: calc(var(--base-padding) * 1.75);
}

.pl-5 {
   padding-left: calc(var(--base-padding) * 2);
}

/* pr = padding right */
.pr-1 {
    padding-right: calc(var(--base-padding) *1);
}
 
.pr-2 {
    padding-right: calc(var(--base-padding) * 1.25);
}
 
.pr-3 {
    padding-right: calc(var(--base-padding) * 1.5);
}
 
.pr-4 {
    padding-right: calc(var(--base-padding) * 1.75);
}
 
.pr-5 {
    padding-right: calc(var(--base-padding) * 2);
}